.form-field {
  margin-bottom: 1rem;
}

.label-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
}

.surprise-button {
  font-weight: 600;
  font-size: 12px;
  background-color: #ececf1;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  border: none;
}

.input-field {
  width: 100%;
  background-color: #f8f9fa;
  border: 1px solid #d1d5db;
  color: #333333;
  font-size: 14px;
  border-radius: 8px;
  padding: 0.75rem;
  outline: none;
}

.input-field:focus {
  border-color: #6469ff;
  box-shadow: 0 0 0 2px rgba(100, 105, 255, 0.3);
}
